Repository delvalle/google-cloud-run-build-sample, changes with the labels that .github/labeler.yml gives for each.
All labels: HTML, Javascript, CSS, Nginx, Docker, GIT, ignore, NPM, documentation, src

FEATURE: updating cloudbuild.yaml
  cloudbuild.yaml
Labels: none

FEATURE: updating cloudbuild.yaml
  cloudbuild.yaml
Labels: none

FEATURE: updating cloudbuild.yaml
  cloudbuild.yaml
Labels: none

FEATURE: adding gren for release notes
  .grenrc
  package-lock.json
  package.json
Labels: NPM

FEATURE: updating the footer
  src/styles.css
Labels: CSS, src

FEATURE: updating the footer
  .grenrc
  src/styles.css
Labels: CSS, src

FEATURE: removing github-release-notes
  .grenrc
  package-lock.json
  package.json
Labels: NPM

FEATURE: footer rounded border
  src/styles.css
Labels: CSS, src

FEATURE: footer rounded border
  .releaserc
  cloudbuild.yaml
  package-lock.json
  package.json
  src/styles.css
Labels: CSS, NPM, src

FEATURE: updating the cloudbuild settings
  cloudbuild.yaml
Labels: none

FEATURE: updating the cloudbuild settings
  cloudbuild.yaml
Labels: none

FEATURE: updating the cloudbuild settings
  cloudbuild.yaml
  package.json
Labels: NPM

FEATURE: updating the cloudbuild settings
  cloudbuild.yaml
Labels: none

FEATURE: updating the cloudbuild settings
  cloudbuild.yaml
Labels: none

FEATURE: updating the cloudbuild settings
  .releaserc
  package.json
Labels: NPM

FEATURE: updating the cloudbuild settings
  .github/workflows/release.yml
  cloudbuild.yaml
Labels: none

FEATURE: updating the cloudbuild settings
  .github/workflows/release.yml
  cloudbuild.yaml
  package.json
Labels: NPM

FEATURE: updating the cloudbuild settings
  cloudbuild.yaml
  package.json
Labels: NPM

FEATURE: updating the cloudbuild settings
  cloudbuild.yaml
Labels: none

FEATURE: updating the cloudbuild settings
  cloudbuild.yaml
Labels: none

FEATURE: updating the cloudbuild settings
  cloudbuild.yaml
Labels: none

FEATURE: updating the cloudbuild settings
  cloudbuild.yaml
Labels: none

FEATURE: updating the cloudbuild settings
  cloudbuild.yaml
Labels: none

FEATURE: updating the cloudbuild settings
  cloudbuild.yaml
Labels: none

FEATURE: adding generate-release-notes plugin
  .grenrc
  cloudbuild.yaml
  package-lock.json
  package.json
Labels: NPM

FEATURE: updating CSS
  src/styles.css
Labels: CSS, src

FEATURE: updating generate-release-notes
  cloudbuild.yaml
Labels: none

FEATURE: updating generate-release-notes
  cloudbuild.yaml
Labels: none

FEATURE: updating generate-release-notes
  cloudbuild.yaml
Labels: none

FEATURE: updating generate-release-notes
  .gcloudignore
  cloudbuild.yaml
Labels: ignore

FEATURE: updating generate-release-notes
  .gcloudignore
  cloudbuild.yaml
Labels: ignore

FEATURE: updating generate-release-notes
  cloudbuild.yaml
Labels: none

FEATURE: updating generate-release-notes
  cloudbuild.yaml
Labels: none

FEATURE: updating HTML
  src/index.html
Labels: HTML, src

FEATURE: updating error pages HTML
  src/404.html
  src/50x.html
Labels: HTML, src

FEATURE: .env file
  .gcloudignore
  .gitignore
  package-lock.json
  package.json
Labels: GIT, ignore, NPM

FEATURE: updating generate-release-notes
  cloudbuild.yaml
  package-lock.json
Labels: NPM

FEATURE: updating generate-release-notes
  cloudbuild.yaml
Labels: none

FEATURE: updating generate-release-notes
  cloudbuild.yaml
Labels: none

FEATURE: updating generate-release-notes
  .gcloudignore
  cloudbuild.yaml
Labels: ignore

.github/labeler.yml:

HTML: src/*.html

Javascript: src/*.js

CSS: src/*.css

Nginx: nginx/*

Docker: Dockerfile

GIT:
  - .gitignore
  - .github/*

ignore:
  - .gitignore
  - .gcloudignore

NPM:
  - package.json
  - package-lock.json
  - README.md

documentation: README.MD

src: src/*
