Repository delvalle/google-cloud-run-build-sample, changes with the labels that .github/labeler.yml gives for each.
All labels: HTML, Javascript, CSS, Nginx, Docker, GIT, ignore, NPM, documentation, src

Updating docs and labeler
  README.MD
  package.json
Labels: NPM, documentation

Updating docs and labeler
  README.MD
Labels: documentation

Updating docs
  README.MD
Labels: documentation

PR naming
  .github/workflows/pr-naming.yml
Labels: none

PR naming
  .github/workflows/pr-naming.yml
Labels: none

PR naming
  .github/workflows/pr-naming.yml
Labels: none

PR naming
  .github/workflows/pr-naming.yml
Labels: none

PR naming
  .github/workflows/pr-naming.yml
Labels: none

PR naming
  README.MD
Labels: documentation

PR naming
  .github/workflows/pr-naming.yml
  README.MD
Labels: documentation

PR naming
  .githooks/pre-commit
  .github/workflows/pr-naming.yml
  README.MD
Labels: documentation

Updating docs
  README.MD
Labels: documentation

Updating docs
  .github/workflows/pr-naming.yml
Labels: none

Updating docs
  README.MD
Labels: documentation

Updating docs
  .githooks/pre-commit
  README.MD
Labels: documentation

Adding Google Cloud Run workflow
  .github/workflows/googlecloudrun.yml
  README.MD
  package-lock.json
  src/index.html
Labels: HTML, NPM, documentation, src

Adding Google Cloud Run workflow
  README.MD
Labels: documentation

Adding Google Cloud Run workflow
  .github/workflows/googlecloudrun.yml
  README.MD
Labels: documentation

Updating the CSS
  src/styles.css
Labels: CSS, src

Updating the CSS
  src/index.html
Labels: HTML, src

Updating the HTML
  src/index.html
Labels: HTML, src

Updating the HTML
  src/index.html
  src/reset.css
  src/styles.css
Labels: HTML, CSS, src

Updating the HTML
  Dockerfile
Labels: Docker

FEATURE: adding cloudbuild.yaml
  Dockerfile
  cloudbuild.yaml
Labels: Docker

FEATURE: updating cloudbuild.yaml
  cloudbuild.yaml
Labels: none

FEATURE: updating cloudbuild.yaml
  cloudbuild.yaml
Labels: none

FEATURE: updating cloudbuild.yaml
  cloudbuild.yaml
Labels: none

FEATURE: updating cloudbuild.yaml
  cloudbuild.yaml
Labels: none

FEATURE: updating cloudbuild.yaml
  cloudbuild.yaml
Labels: none

FEATURE: updating cloudbuild.yaml
  cloudbuild.yaml
Labels: none

FEATURE: updating cloudbuild.yaml
  cloudbuild.yaml
Labels: none

FEATURE: updating cloudbuild.yaml
  cloudbuild.yaml
Labels: none

FEATURE: updating cloudbuild.yaml
  cloudbuild.yaml
Labels: none

FEATURE: updating cloudbuild.yaml
  cloudbuild.yaml
Labels: none

FEATURE: updating cloudbuild.yaml
  cloudbuild.yaml
Labels: none

FEATURE: updating cloudbuild.yaml
  cloudbuild.yaml
Labels: none

FEATURE: updating cloudbuild.yaml
  cloudbuild.yaml
Labels: none

FEATURE: updating cloudbuild.yaml
  cloudbuild.yaml
Labels: none

FEATURE: updating cloudbuild.yaml
  cloudbuild.yaml
Labels: none

FEATURE: updating cloudbuild.yaml
  cloudbuild.yaml
Labels: none

.github/labeler.yml:

HTML: src/*.html

Javascript: src/*.js

CSS: src/*.css

Nginx: nginx/*

Docker: Dockerfile

GIT:
  - .gitignore
  - .github/*

ignore:
  - .gitignore
  - .gcloudignore

NPM:
  - package.json
  - package-lock.json
  - README.md

documentation: README.MD

src: src/*
